.buttonPrimary {
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    background-color: #0c3a23;
    color: #F8F8FF;
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    transition: all .4s ease;
    border: solid 1px;
    border-color: transparent;

}

.buttonPrimary:hover {
    background-color: transparent;
    color: #0c3a23;
    border-color: #0c3a23;


}