.how {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 8rem;
    margin-bottom: 2rem;
}

.how img {
    width: 50%;
    height: auto;
    margin-left: 2rem;
}


.content h2 {
    font-size: 4rem;
    font-weight: 500;
    font-family: 'Playfair Display', serif;
    margin-bottom: 2rem;
}


.content h3 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.step {
    margin-bottom: 2rem;
}